In [ ]:
Question 1:
Given the following jumbled word, OBANWRI guess the correct English word.

Answer B

In [5]:
print("Given the following jumbled word, OBANWRI \n\nGuess the correct English word from the options given bellow! \nA. RANIBOW \nB. RAINBOW \nC. BOWRANI \nD. ROBWANI")
guessed_word = input("Enter any one of the options:(in caps only)\n")
answer = "RAINBOW"
jumbled_word = "OBANWRI"
if guessed_word == answer:
    print(answer)
else:
    print("Wrong answer")

Given the following jumbled word, OBANWRI

Guess the correct English word from the options given bellow!
A. RANIBOW
B. RAINBOW
C. BOWRANI
D. ROBWANI
Enter any one of the options:(in caps only)
RAINBOW
RAINBOW

In [ ]:
Question 2:
Write a program which prints “LETS UPGRADE”. (Please note that you have to
print in ALL CAPS as given)

In [ ]:
print("LETS UPGRADE")

LETS UPGRADE

In [ ]:
Question 3:

Write a program that takes cost price and selling price as input and displays whether the transaction is a
Profit or a Loss or Neither.

In [6]:
x=input("cost price:")
y=input('selling price:')

if x<y:
    print("profit")
elif x>y:
    print("loss")
else:
    print("neither profit nor loss")

cost price:1000
selling price:1999
profit

In [ ]:
Question 4:
Write a program that takes an amount in Indian Rupees as input. You need to find its equivalent in Euro and display it.
Assume 1 Euro equals Rs. 80.

In [7]:
amt_in_rs = int(input())
amt_in_euro = amt_in_rs * 80
print(amt_in_euro)

20
1600